@import ./tokens

@import ./controls/UIAbstractInput
@import ./controls/UIButton
@import ./controls/UIColorSelector
@import ./controls/UIDropdown
@import ./controls/UIEditableText
@import ./controls/UIIndeterminateCheckbox
@import ./controls/UITextInput
@import ./controls/UILoading
@import ./controls/UIModal
@import ./controls/UIMessageModal
@import ./controls/UIMultiInput
@import ./controls/UIOverlay
@import ./controls/UISelectDropdown
@import ./controls/UITag
@import ./controls/UIToastNotification
@import ./controls/UIToastNotificationArea
@import ./controls/UIToggle
@import ./controls/UITooltip

@import ./fuzzyTime/FuzzyTimeButton
@import ./fuzzyTime/FuzzyTimeSelect
@import ./fuzzyTime/FuzzyTimeSelectUnit
@import ./fuzzyTime/FuzzyTimeYearUnit

@import ./tasks/TaskFilterLink

body
  background-color: $color-offwhite
  font-family: $font-stack
  font-size: 14px
  font-weight: normal
  line-height: 1.2em

h1,
p
  color: $color-basefont

button
  border: 0px
  background: $color-control
  padding: 5px
  cursor: pointer
  outline: none

  &:disabled
    cursor: default

  &:focus
    background: $color-controlfocus

input,
textarea
  border: 0px
  background: $color-control
  outline: none

  &:focus
    background: $color-controlfocus


.tether-element
  position: absolute
  z-index: 10000
  display: block
