@import '../tokens'

.UIBanner
  .inner
    display: flex
    flex-direction: row
    max-width: 700px
    margin: 0 auto
    opacity: .9

  .children
    flex-grow: 1
    margin: .4em 20px .4em 0

  .closeButton
    flex-grow: 0
    flex-shrink: 0
    margin-top: .2em
