@import 'tokens'

.ColorSection
  .swatch
    width: 200px
    height: 200px
    position: relative
    float: left
    border: 1px #eeeeee solid
    margin: 0 40px 40px 0

  .name
    position: absolute
    left: 20px
    bottom: 20px
    color: $color-white
    font-size: 14px
    opacity: .8

    &.light
      color: $color-black

  .hex
    position: absolute
    left: 20px
    bottom: 40px
    color: $color-white
    font-size: 20px

    &.light
      color: $color-black

  .ColorSubsection
    clear: both
    overflow: auto
    margin-top: 60px

    .header
      font-size: 20px
