.sideNav {
  background: #eee
}

.sideNav p {
  margin: 8px
}

.sideNav p.header {
  margin-top: 24px;
  font-weight: bold;
}

.sideNav a {
  cursor: pointer;
}

.sideNav a:hover {
  text-decoration: underline;
}

.componentSection {
  margin: 30px;
}

.componentSection h1 {
  font-size: 20px;
  margin: 20px 0 20px 0;
}

.componentSection .componentWell {
  border: #eee 1px solid;
  padding: 10px;
}

.ColorSection .tile {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 20px;
  float: left;
  border: 1px #eee solid;
}

.ColorSection .name {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  font-size: 14px;
  opacity: .8
}

.ColorSection .hex {
  position: absolute;
  left: 20px;
  bottom: 40px;
  color: white;
  font-size: 20px;
}

.ColorSection .hex.light {
  color: black;
}

.ColorSection .name.light {
  color: black;
}

.ColorSubsection {
  clear: both;
  overflow: auto;
  margin-top: 60px
}

.ColorSubsection .header {
  font-size: 20px;
}
