.UIColorSelector
  @extend .UIAbstractInput

  &.UIColorSelectorButton
    background: transparent
    padding: 0
    margin: 0

    i
      visibility: hidden
      margin: 8px
      font-size: 20px
      opacity: .7

    &:hover i
      visibility: visible

  .colorSample
    border: 1px solid $color-white
    width: 35px
    height: 35px
    background: transparent
    text-align: center
    float: left
    cursor: pointer
    flex-shrink: 0
    box-sizing: content-box

  .UIDropdown
    width: 222px
    box-sizing: content-box

    ol
      overflow: auto

      li
        text-align: left
        float: left
        overflow: auto

  .buttons
    font-size: .8em
    display: flex

    .UIButton
      margin: 10px
      flex-grow: 1

  .customArea
    padding: 1px
    display: flex
    margin: 10px
    box-sizing: border-box

    input
      flex-grow: 1
      flex-shrink: 1
      min-width: 0
      color: $color-basefont
      font-family: monospace
      padding: 0 .5em
      letter-spacing: .1em
      font-size: 18px
      border: 1px solid $color-white
      box-sizing: border-box
      margin-left: 10px
