@import '../tokens'

.UIMessageModal
  background: $color-white
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
  overflow: auto
  width: 500px

  .title
    font-size: 20px
    margin: 30px 30px

  .message
    font-size: 14px
    margin: 30px 30px
