@import ../tokens

.UISelectDropdown
  background: $color-white
  width: 100%

  li
    padding: 5px
    cursor: pointer

  li.selected
    background: $color-selected

    &:hover,
    .hover
      background: $color-selectedhover

  li:hover,
  .hover
    background: $color-offwhite
