@import '../tokens'

.UISelectDropdown
  background: $color-white
  width: 100%

  .item
    padding: 0.3em
    cursor: pointer

    &.selected
      background: $color-option-selected

      &:hover,
      &.hover
        background: $color-option-selectedhover

    &:hover,
    &.hover
      background: $color-option-hover
