@import tokens

.UIToggle
  @extend .UIAbstractInput

  input
    height: 0
    width: 0
    visibility: hidden
    margin: 0
    display: none

  label
    cursor: pointer
    text-indent: -9999px
    width: 2.2em
    height: 1.1em
    background: $color-control-selected
    display: block
    border-radius: 1.1em
    position: relative

  label:after
    content: ''
    position: absolute
    top: .05em
    left: .05em
    width: .6em
    height: .6em
    background: transparent
    border-radius: 1em
    transition: $transition-default
    border: .2em solid $color-basefont

  input:checked + label
    background: $color-control-selected

  input:checked + label:after
    left: calc(100% - .05em)
    transform: translateX(-100%)
    background: $color-basefont

  label:active:after
    width: .8em
