@import ../tokens

.uiEditableText
  font-size: 18px
  border: 0
  outline: 0
  font-size: 20px
  flex-grow: 1
  padding: 4px 0px

  &:hover, &:focus
    background: $color-offwhite

  &.placeholder
    color: $color-quiet
    font-style: italic
