@import ../tokens

.uiEditableText
  @extend .uiAbstractInput

  border: 0
  outline: 0
  flex-grow: 1
  padding: .4em 0px
  background: transparent

  &:focus
    background: $color-controlfocus

  &.placeholder
    color: $color-quiet
    font-style: italic
