.UITag
  margin: 3px
  padding: 3px
  background: $color-ququmber
  display: inline
  border-radius: 4px

  &.lightText
    color: $color-inverttext

  &.darkText
    color: $color-basefont

  .remove
    overflow: hidden
    margin: 0px 2px 0px 7px
    display: inline-block
    background: transparent
    border: 0
    outline: 0
    padding: 0
    color: inherit
    line-height: 10px

    .octicon
      font-size: 14px
      color: inherit
