@import '../tokens'

.UIIconButton
  background: transparent
  border: 0
  font-size: 1em

  i
    margin: 0

  &:hover,
  &:hover>i
    background: transparent

  &:active,
  &:active>i
    background: transparent

  &:focus,
  &:focus>i
    background: transparent

  &.styling-control
    color: $color-ququmber
    &:hover,
    &:hover>i
      color: lighten($color-ququmber, 20%)

    &:active,
    &:active>i
      color: $color-ququmber

    &:focus,
    &:focus>i
      color: lighten($color-notify, 20%)

  &.styling-notify
    color: $color-notify

    &:hover,
    &:hover>i
      color: lighten($color-notify, 20%)

    &:active,
    &:active>i
      color: $color-notify

    &:focus,
    &:focus>i
      color: lighten($color-notify, 20%)

.UIIconButtonTransition-appear
  opacity: 0

.UIIconButtonTransition-appear.UIIconButtonTransition-appear-active
  opacity: 1
  transition: .2s
