@import './tokens'

@import './text'

@import './alerts/UIBanner'
@import './alerts/UIToastNotification'
@import './alerts/UIToastNotificationArea'

@import './button/UIButton'
@import './button/UIButtonGroup'
@import './button/UIButtonFooter'
@import './button/UIDropdownButton'
@import './button/UIIconButton'

@import './chip/UIBadge'
@import './chip/UIIDChip'
@import './chip/UINestedTag'
@import './chip/UITag'

@import './controls/UICheckbox'
@import './controls/UIColorSelector'
@import './controls/UILightTab'
@import './controls/UILightTabs'
@import './controls/UIToggle'

@import './fuzzyTime/FuzzyTimeButton'
@import './fuzzyTime/FuzzyTimeMonthUnit'
@import './fuzzyTime/FuzzyTimeSelect'
@import './fuzzyTime/FuzzyTimeSelectUnit'
@import './fuzzyTime/FuzzyTimeWeekUnit'
@import './fuzzyTime/FuzzyTimeYearUnit'

@import './input/UIAbstractInput'
@import './input/UICopyInput'
@import './input/UIEditableText'
@import './input/UIMultiInput'
@import './input/UISelect'
@import './input/UISelectDropdown'
@import './input/UITextInput'

@import './popup/UIContextMenu'
@import './popup/UIDropdown'
@import './popup/UIMessageModal'
@import './popup/UIModal'
@import './popup/UINestedOverlay'
@import './popup/UIOverlay'
@import './popup/UIOverlayTransition'
@import './popup/UITooltip'

@import './progress/UILoading'
@import './progress/UINanoProgress'
@import './progress/UIShimmerRect'
@import './progress/UIStepProgressIndicator'

@import './tasks/TaskFilterLink'


body
  background-color: $color-offwhite
  font-family: $font-stack
  font-size: 14px
  font-weight: normal
  line-height: 1.2em

button
  border: 0
  background: $color-control
  padding: .35em
  cursor: pointer
  outline: none
  transition: $transition-default
  font-size: 14px

  &:disabled
    cursor: default

  &:focus
    background: $color-control-focus

input,
textarea
  border: 0
  background: $color-control
  outline: none
  font-size: 14px
  border-radius: $border-radius-input
  transition: $transition-default

  &:focus
    background: $color-control-focus


.tether-element
  position: absolute
  z-index: 10000
  display: block
