$font-stack: 'Open Sans', sans-serif

$color-offwhite:       #F8F8F8
$color-selected:       #DDDDDD
$color-selectedhover:  #C8C8C8
$color-basefont:       #333333
$color-disabled:       #888888
$color-control:        #F2F2F2
$color-controlfocus:   #E0E0E0
$color-controlborder:  #CCCCCC
$color-ququmber:       #444444
$color-inverttext:     #DDDDDD
$color-ququmberhover:  #333333
$color-quiet:          #AAAAAA
$color-white:          #FFFFFF
$color-notify:         #0095FF
$color-go:             #32A150
$color-google:         #E53935
$color-facebook:       #4267b2

$shadow-dropdown: 2px 2px 4px rgba(0, 0, 0, 0.2)
$shadow-card: 0px 0px 10px rgba(0, 0, 0, 0.6)

$padding-slice: 30px
