$font-stack: 'Open Sans', sans-serif

$color-offwhite:       #f8f8f8
$color-selected:       #dddddd
$color-selectedhover:  #c8c8c8
$color-basefont:       #333333
$color-disabled:       #888888
$color-control:        #f2f2f2
$color-controlfocus:   #e0e0e0
$color-controlborder:  #cccccc
$color-ququmber:       #444444
$color-inverttext:     #dddddd
$color-ququmberhover:  #333333
$color-quiet:          #aaaaaa
$color-white:          #ffffff
$color-notify:         #0095ff
$color-go:             #32a150
$color-google:         #e53935
$color-facebook:       #4267b2

$shadow-dropdown: 2px 2px 4px rgba(0, 0, 0, 0.2)
$shadow-card: 0 0 10px rgba(0, 0, 0, 0.6)

$padding-slice: 30px
