@import '../tokens'

.FuzzyTimeSelectUnit
  &:hover:not(.placeholder),
  &.droppingTask,
  &.hover
    background-color: $color-selected
    cursor: pointer

  &.selected
    background-color: $color-notify
    color: $color-white

    &.hover
      background-color: lighten($color-notify, 20%)
