@import '../tokens'

$hoverRangeArrowSize: 13px

.FuzzyTimeWeekUnit
  overflow: auto

  .day,
  .fullWeekButton
    height: 32px
    border: 1px $color-white solid
    border-right: 0
    border-bottom: 0
    padding-top: 0
    box-sizing: border-box
    float: left
    text-transform: uppercase
    overflow: hidden
    text-align: center
    font-size: 13px
    display: inline-flex
    align-items: center
    justify-content: center
    position: relative

    &:hover:not(.placeholder),
    &.hover
      background-color: $color-option-hover

    &.selected
      background-color: $color-notify
      color: $color-white

      &.hover,
      &:hover
        background-color: lighten($color-notify, 20%)

    .hoverRangeStart
      background: $color-notify
      border: transparent solid $hoverRangeArrowSize
      border-right: $color-notify solid $hoverRangeArrowSize
      transform: rotate(45deg)
      position: absolute
      top: -$hoverRangeArrowSize
      left: -$hoverRangeArrowSize

    .hoverRangeEnd
      background: $color-notify
      border: transparent solid $hoverRangeArrowSize
      border-left: $color-notify solid $hoverRangeArrowSize
      transform: rotate(45deg)
      position: absolute
      right: -$hoverRangeArrowSize
      bottom: -$hoverRangeArrowSize


  .fullWeekButton
    width: 9%
    height: 32px
    padding-top: 0
    color: $color-quiet

  .day
    width: 13%
    font-size: 13px

    p
      top: 6px

    &:last-child
      border-right: 0

    &.notChild
      visibility: hidden

    &.now
      color: $color-notify
      font-weight: bold

      &.selected
        color: $color-white
