@import '../tokens'

.FuzzyTimeSelect
  overflow: hidden
  position: relative
  height: 100%
  width: 100%

  .scrollContainer
    overflow: hidden

  .scrollContainer::-webkit-scrollbar
    display: none

  .spacer
    height: 56px

  .viewModeSelector
    width: 100%
    display: flex
    flex-direction: row

    button
      padding: 6px
      margin: 10px 15px 0 15px
      outline: 0
      flex-grow: 1
      flex-shrink: 0
      width: auto
      text-align: center
      background: none

      i
        padding-right: 8px

      &.selected
        font-weight: bold

      &:active,
      &:hover
        background: $color-controlfocus

  .quickOptions
    display: flex
    flex-direction: row
    flex-wrap: wrap
    padding: 10px 5px 15px 5px
    border-bottom: 1px solid $color-br

    .quickOption
      border: 1px $color-quiet solid
      border-radius: 8px
      padding: 2px 10px
      margin: 5px 0 0 3px
      flex-grow: 0
      flex-shrink: 0
      background: transparent

      &:hover,
      &:active
        background: $color-controlfocus

      &.quickOptionNone
        border: 1px $color-deepred solid
        color: $color-deepred

        &:active,
        &:hover
          background: #ffeeee

  .controls
    width: 100%
    display: flex
    flex-direction: row
    z-index: 10
    box-shadow: 0 0 12px rgba(100, 100, 100, .3)

    button
      text-align: center
      margin: 20px 10px
      padding: 10px

    .noneButton
      margin-left: 5px

    .cancelButton
      margin-right: 5px
