@import '../tokens'

.FuzzyTimeWeekUnit
  overflow: auto

  .day,
  .fullWeekButton
    height: 32px
    border: 1px $color-white solid
    border-right: 0
    border-bottom: 0
    padding-top: 0
    box-sizing: border-box
    float: left
    text-transform: uppercase
    overflow: hidden
    text-align: center
    font-size: 13px
    display: inline-flex
    align-items: center
    justify-content: center

    &:hover:not(.placeholder),
    &.hover
      background-color: $color-option-hover

    &.selected
      background-color: $color-notify
      color: $color-white

      &.hover,
      &:hover
        background-color: lighten($color-notify, 20%)

  .fullWeekButton
    width: 9%
    height: 32px
    padding-top: 0
    color: $color-quiet

  .day
    width: 12%
    font-size: 13px

    p
      top: 6px

    &:last-child
      border-right: 0

    &.notChild
      visibility: hidden

    &.now
      color: $color-notify
      font-weight: bold

      &.selected
        color: $color-white
