.FuzzyTimeYearUnit
  .yearTitle
    transform: rotate(-90deg)
    position: absolute
    left: 0
    font-size: 20px
    bottom: 41px
    font-weight: normal
    color: $color-basefont
    cursor: pointer
    padding-bottom: 5px

  .month p
    top: 7px
    font-size: 13px
