.FuzzyTimeYearUnit
  .yearTitle
    transform: rotate(-90deg)
    position: absolute
    font-size: 24px
    bottom: 48px
    font-weight: normal
    cursor: pointer

    &:hover:not(.placeholder),
    &.hover
      font-weight: bold

    &.selected
      color: $color-notify
      font-weight: bold

  .month
    height: 30px
    clear: none
    width: 25%
    box-sizing: border-box
    text-transform: uppercase
    overflow: hidden
    font-size: 13px
    display: inline-flex
    align-items: center
    justify-content: center

    &:hover:not(.placeholder),
    &.hover
      background-color: $color-option-hover

    &.selected
      background-color: $color-notify
      color: $color-white

      &.hover
        background-color: lighten($color-notify, 20%)
