@import '../tokens'

.FuzzyTimeSelectUnit
  box-sizing: border-box
  float: left
  font-size: 13px
  text-transform: uppercase
  position: relative
  border-color: #bbbbbb
  overflow: hidden

  p
    position: absolute
    z-index: 1
    width: 100%
    text-align: center

  &:hover:not(.placeholder),
  &.droppingTask,
  &.FuzzyTimeSelectUnitHover
    background-color: $color-selected
    cursor: pointer

  &.selected
    background-color: $color-selected

  &.today p
    color: $color-deepred

  &.month
    height: 30px
    clear: none
    float: left
    width: 25%
    overflow: hidden
