@import '../tokens'

.UIAbstractInput
  margin-top: .25em
  margin-bottom: .25em
  display: flex
  transition: $transition-default
  border-radius: $border-radius-input

  &:focus,
  &.focus
    background: $color-control-focus
